/* Reset some default styles */
body,
ul {
    margin: 0;
    padding: 0;
}

/* Common styles for multiple elements */
body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/back_3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    backdrop-filter: blur(2px);
}

.container {
    text-align: center;
    padding: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

/* Profile picture styles */
.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px auto;
    /* Combine margin properties */
}

/* Handle styles */
.name {
    margin-top: 10px;
    font-size: 23px;
    color: #f0f0f0;
}
.description {
    font-size: 15px;
    color: #f0f0f0;
}

/* Links list styles */
.links-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Link styles */
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: rgb(52, 152, 219, 0.7);
    color: #f0f0f0;
    text-decoration: none;
    border-radius: 15px;
    width: 80%;
    max-width: 350px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.link:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Icon styles */
.icon {
    font-size: 45px;
    margin-right: 70px;
}

.share-icon {
    font-size: 20px;
    margin-left: 70px;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    color: #f0f0f0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .link {
        font-size: 18px;
        width: 80%;
        max-width: 350px;
    }
}
